.root {
    max-width: 200px;
    display: flex;
    padding: 12px;
    box-sizing: border-box;
    align-items: center;
}
.icon{
    margin-right: 8px;
}

.root:hover {
    cursor: pointer;
    transition-duration: 200ms;
    background-color: #3d3d43;
}

