.item {
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.taskCont {
    margin-left: 8px;
    width: 100%;
}

.task{
}

.taskDate {
    font-size: 10px;
    padding-left: 4px;
    box-sizing: border-box;
    font-style: italic;
}

.taskDone{
    text-decoration: line-through;
    color: #807f7f;
}


.checkTaskSpan {
    width: 20px;
    height: 20px;
    border: 1px solid #f2a365;
    border-radius: 4px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.checkTaskSpan:hover {
    box-shadow: 0 0 6px 1px rgba(242,163,101,0.74);
    cursor: pointer;
    transition-duration: 200ms;
}

.checkTaskSpanDone {
    background-color: #f2a365;
}

.optionsContainer {
    display: flex;
    align-items: flex-end;
}

.edit{
    margin-right: 8px;
    color: hsl(323, 75%, 67%);
}

.trash{
    color: hsl(323, 75%, 67%);
}

.edit:hover{
    color: hsl(269, 92%, 85%);
    cursor: pointer;
}
.trash:hover{
    color: hsl(269, 92%, 85%);
    cursor: pointer;
}

.editModal{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.inputsModal {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
}

.input{
    width: 50%;
}

.button {
    margin-right: 40px;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
