.root {
    width: 95%;
    height: 95%;
    color: white;
}

.preContainer {
    width: 100%;
    height: 100%;
}

.monthName {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.icon{
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsla(323, 78%, 53%, 1);
}

.icon:hover{
    background: linear-gradient(45deg, hsla(323, 78%, 53%, 1) 28%, hsla(29, 74%, 69%, 1) 100%);
    border-radius: 8px;
    color: white;
}

.span {
    display: flex;
}

.container{
    display: flex;
    justify-content: space-evenly;
    height: 5%;
    background-color: #26252b;
}


.container > div:nth-child(1) {
    border-left: 1px solid #848484;
    border-top-left-radius: 8px;
}
.container > div:nth-child(7) {
    border-top-right-radius: 8px;
}

.container > div:nth-child(n) {
    border-right: 1px solid #848484;
    border-bottom: 1px solid #848484;
    border-top: 1px solid #848484;
}

.titleMonth {
    font-size: 20px;
    color: white;
}

.dayHeader{
    width: calc(100% / 7);
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 4px;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.body{
    height: 95%;
}

.body > div:nth-last-child(1) > div:nth-child(1){
    border-bottom-left-radius: 8px;
}
.body > div:nth-last-child(1) > div:nth-last-child(1){
    border-bottom-right-radius: 8px;

}
