.modalContainer{
    width: 500px;
    height: 160px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
}
.dataContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}

.data{
    display: flex;
    margin: 0 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.input {
    display: flex;
    margin: 0 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.buttonsContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.dataPicker {
    margin-left: 10px;
}
