.searchContainer {
    display: flex;
    background-color: #3d3d43;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 4px;
    margin-left: 8px;
}

.searchInput{
    margin-left: 4px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 2px;
    color: white;
}

.searchIcon {
    display: flex;
    align-items: center;
    color: #808080;
    cursor: text;
}

.searchInput:focus{
    outline: none;
}

.searchIconFocus{
    color: white;
}
