.root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    border-radius: 5%;
    width: 500px;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #26252b;
    padding: 20px 30px 20px 30px;
    box-sizing: border-box;
}

.title {
    color: white;
    letter-spacing: 4px;
    text-align: center;
}

.input {
    margin-bottom: 15px;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
}

.redirectText {
    color: white;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 2px;
}

a {
    color: #f2a365;
}

.logo {
    width: 200px;
    height: fit-content;
}
