.container {
    width: 500px;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #3d3d43;
    color: white;
    margin-bottom: 20px;
}
.titleContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
}

.nameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.name{
    display: flex;
    width: 100%;
    justify-self: flex-start;
    margin-left: 8px;
    font-weight: 700;
    letter-spacing: 1px;
}

.icon {
    display: flex;
    justify-content: flex-end;
    transition: transform 0.5s cubic-bezier(0, 1, 0, 1);
}

.iconOpen {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}

.itemsContainer{
    overflow: auto;
    max-height: 0;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    background-color: #222831;
}

.itemsContainerOpened {
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
    height: auto;
}


.footer{
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #454545;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #222831;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: background-color 0.5s ease-in-out;
}
.footer:hover{
    cursor: pointer;
    background-color: #3d3d43;
}
.footerClose {
    background-color: #3d3d43;
    transition: background-color 0.5s ease-in-out;
}

.footerText {
    margin-right: 8px;
}

.footerIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}
